.Food {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 1.2em;
  border-bottom: solid 2px #EEEEEE;
  letter-spacing: 1px;
  align-items: center;
  margin: 1rem;
}

.Food:last-of-type {
  border-bottom-color: #505671;
}

.FoodName:hover .RemoveFood {
  visibility: visible;
}

.FoodName,
.CounterWeight {
  color: #2F2366;
}

.FoodName {
  display: flex;
  flex-grow: 1;
  font-size: 1rem;
  padding-left: 10px;
  width: 100%;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Food input {
  padding: 6px 3px;
  font-size:1rem;
  display: flex;
  width: 100px;
  text-align: center;
  border: 3px 3px #ccc;
  border-radius: 3px;
  margin: 1rem;
}


.foodInput {
  min-width: 200px;
  flex-grow: 1;
  border-width: 0 0 1px 0;
  /* border-radius: 2px; */
  background-color: #9296a6;
  border-style: none;
  text-shadow: none;
  color: #fff;
  font-weight: 600;
  outline: none;
}


.foodInput::placeholder {
  color: #fff;
}

.dateWrapper{
  margin: 1rem;
}

.EditButton {
  width: 25%;
  display: block;
  font-size: .8em;
  margin: 1rem;
  padding: 10px;
  background-color: #252D4E;
  border-radius: 5px;
  border: 3px solid #9296a6;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease,
              color 0.2s ease;
}

.SaveButton {
  width: 25%;
  display: block;
  font-size: .8em;
  margin: 1rem;
  padding: 10px;
  background-color: #9296a6;
  border-radius: 5px;
  border: 3px solid #252D4E;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease,
              color 0.2s ease;
}

.ButtonWrapper {
  display: flex;
  justify-content: center;
}

.ButtonWrapper button:hover {
    background: #9296a6;
    color: black;
    border: 3px solid #9296a6;
}


.addFoodButton {
  width: 25%;
  font-size: .8em;
  margin: 1rem;
  padding: 10px;
  background-color: #252D4E;
  border-radius: 5px;
  border: 3px solid #9296a6;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease,
              color 0.2s ease;
}

/* @media (max-width: 700px) { 
} */