.Food {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  border-bottom: solid 2px #EEEEEE;
  letter-spacing: 0.8px;
  align-items: center;
  margin: 0.8rem auto;
  width: 95%;
}

.FoodName:hover .RemoveFood {
  visibility: visible;
}

.FoodName,
.CounterWeight {
  color: #2F2366;
}

.FoodName {
  width: 160px;
  font-size: 1rem;
  font-weight: 800;
  margin: auto 1rem;
  text-align: left;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.Food input {
  padding: 6px 3px;
  font-size: 0.8rem;
  width: 120px;
  text-align: center;
  border: 3px 3px #ccc;
  border-radius: 3px;
  margin: auto;
}

.DateWrapper {
  align-items: center;
}

@media (max-width: 700px) { 
  .Food {
    width: 98%;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 180px;
  }
  .DateWrapper {
    width: 100%;
    margin: 1rem;
  }
  .FoodName {
    text-align: center;
    width: 100%;
    margin: 0.6rem;
  }
}